
@font-face {
  font-family: 'Arbutus';
  src: url('../fonts/Arbutus-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Arbutus-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Arbutus-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Arbutus-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Arbutus-Regular.svg#d4a237ba2a722507221642e96615b15b') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #231F20;
}
