
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #e0e0e0;
	font-family: 'Nunito Sans', hwt-american-inset, monospace;
	font-size: 16px;
}

main, footer, header {
	z-index: 1;

}

main {
  overflow: hidden;
  position: relative;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("../img/fire.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	filter: blur(2px);
	z-index: -1;
}

.bg:after {
	content: "";
	background: #231F20;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	opacity: 0.75;
}

header {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

header a {
	box-shadow: 0 0 10px #231F20;
	/* height: 72px; */
	width: 30px;
	display: block;
}

.hero {
	position: relative;
	text-align: center;
    text-shadow: 0 8px 10px rgba(0,0,0,0.3);
}

.hero .wrapper {
	padding-left: calc(30px + 1em);
	padding-right: calc(30px + 1em);
	max-width: 800px;
	margin: 0 auto;
}

.wrapper {
	padding-left: 1em;
	padding-right: calc(30px + 1em);
	max-width: 800px;
	margin: 0 auto;
}

#knb-countdown {
	color: black;
	font-size: 24px;
}

#logo {
    -webkit-filter: drop-shadow(0 15px 10px rgba(0,0,0,0.3));
    filter: drop-shadow(0 15px 10px rgba(0,0,0,0.3));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

img {
	display: block;
	max-width: 100%;
}

h1 span {
	visibility: hidden;
	height: 0;
	overflow: hidden;
	display: block;
}

h1 img {
	margin: 0 auto;
	max-width: 100%;
	width: 200px;
}

.faq {
	padding: 1em 0;
	background: black;
	position: relative;
	color: white;
}

.full-image {
	top: calc(100vw * -0.073);
	position: absolute;
	display: block;
	max-width: none;
	width: 102%;
	left: -1%;
	margin: 0;
	padding: 0;
	z-index: 0;
	/* height: 0;
  padding-bottom: 8%; */
}

@media screen and (min-width: 1700px) {
	.full-image {
		/* display: none; */
	}
}


.full-image.bottom {
	top: auto;
	bottom: calc(100vw * -0.073);
}

.contact {
	padding: 2em 0 1em;
	text-align: center;
}

.contact a.cta, span.cta a.atcb-link {
	font-family: 'Nunito Sans', hwt-american-inset, monospace;
	margin-bottom: 0;
  	position: relative;
  	z-index: 99;
}

a.disabled {
	cursor: not-allowed !important;
}


.faq p, .contact p {
	margin: 0 0 1em;
	padding: 0;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
}

.contact p {
	margin: 0 0 2.5em;
}

.faq ul {
	margin-top: 0;
	padding-top: 0;
}

.faq li {
	font-family: 'Nunito Sans', sans-serif;
	line-height: 1.5em;
}

.faq h3, .contact h3 {
	font-weight: 900;
	color: #EF3F28;
	text-transform: uppercase;
	margin: 48px 0 8px;
	padding: 0 0 0;
	line-height: 1em;
	font-size: 18px;
	letter-spacing: 2px;
}
.faq h3 {
	text-shadow: 0 0 4px;
}

.contact h3 {
	margin-top: 0;
}

.faq a.cta {
	display: inline-block;
	padding: 0.5em 1em;
	margin-bottom: 0;
	margin-top: 0;
	border: 2px solid #231F20;
	/* background: #231F20; */
	background: none;
	color: #231F20;
	text-decoration: none;
	transition: all 0.2s ease-out;
	font-family: 'Nunito Sans', hwt-american-inset, monospace;
}

.faq a.cta:hover {
	background: #231F20;
	color: #FFFFFF;
}

.hero {
  padding: 42vw 0 5vw 0;
  position: relative;
  z-index: 0;
  background-image: url('/assets/img/KernBurn_BG_2.jpg');
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  letter-spacing: 2px;
}

.faq {
  position: relative;
  z-index: 1;
}

.hero h2 {
	font-size: 2em;
}

.hero h2, .hero p {
	color: black;
	text-transform: uppercase;
}

p {
	line-height: 1.5em;
}

.hero p span {
	color: #EF3F28;
}

.hero p br {
	display: none;
}

@media all and (max-width: 767px) {
	.hero {
		background-image: url('/assets/img/KernBurn_BG_2_Mobile.jpg');
		padding: 55vw 0 5vw 0;
	}
	.mobile-hide {
		display: none;
	}
	.hero p br.mobile-only {
		display: block;
	}
}

a.cta, span.cta a.atcb-link {
	display: inline-block;
	padding: 0.5em 1em;
	margin-bottom: 2em;
	margin-top: 1em;
	background: #EF3F28;
	color: #231F20;
	text-decoration: none;
	transition: background 0.2s ease-out;
	text-transform: uppercase;
}

a.cta:hover, span.cta a.atcb-link:hover {
	background: #FBAA19;
}

img.matches {
	margin: 0 auto;
}

footer {
	padding: 32px 16px;
	color: #666;
	font-size: 0.8em;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	position: relative;

    background: url('/assets/img/Praisebe.jpg');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 150px 16px 32px;
}

.social {
	font-size: 16px;
	color: black;
}

.social a {
	display: inline-block;
	margin-right: 0.5em;
	font-size: 24px;
	color: #EF3F28;
	text-decoration: none;
}

.social a:last-child {
	margin-right: 0;
}

.social p {
	text-align: center;
	font-family: 'Nunito Sans', hwt-american-inset, monospace;
	text-transform: uppercase;
}

.social p span {
	color: #EF3F28;
}

/* .social a:nth-child(even) {
  color: #EF3F28;
} */

.social a:hover {
	color: #EF3F28;
}

@media screen and (min-width: 768px) {
	.hero h1 {
		margin-top: 3em;
	}
	.hero h1 img {
		width: 300px;
	}
	.hero h2 {
		font-size: 3em;
	}
	.hero-ctas a {
		margin-right: 1em;
	}
	.hero-ctas a:last-child {
		margin-right: 0;
	}
	.faq h3, .contact h3 {
		font-size: 22px;
	}
}

@media screen and (min-width: 960px) {
	.wrapper {
		padding-right: 1em;
	}
	.faq h3, .contact h3 {
		font-size: 24px;
	}
	.hero {
		padding: 38vw 0 5vw 0;
		font-size: 24px;
	}
	#knb-countdown {
		font-size: 28px;
	}
}

@media screen and (min-width: 1600px) {
	.hero h1 img {
		width: 400px;
	}
	.faq h3, .contact h3 {
		font-size: 26px;
	}
}

.sold_out {
	background: black;
	color: white;
	text-shadow: 0 0 4px;
	text-transform: uppercase;
	text-align: center;
	padding: 1em;
	position: relative;
}

.addtocalendar ul.atcb-list {
	top: 57px;
    right: 0px;
    left: unset;
    background: #FBAA19;
}

.addtocalendar ul.atcb-list li.atcb-item {
	padding: 3px;
    background: #FBAA19;
}

.addtocalendar ul.atcb-list li.atcb-item:hover {
    background: #EF3F28;
}

.addtocalendar ul.atcb-list li.atcb-item a.atcb-item-link {
	color: black;
}

#sponsors {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	padding: 0 30px;
	background: #e0e0e0;
}

#sponsors img {
	mix-blend-mode: darken;
}

#knb-logo {
	position: absolute;
	width: 80px;
	height: 80px;
	background: url('/assets/img/logo-transparent-white.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
    top: calc(55vw + 6%);
	left: 20px;
	z-index: 100;
	mix-blend-mode: difference;
}

@supports not (mix-blend-mode: difference) {
	#knb-logo {
		filter: drop-shadow(0 0 6px black);
	}
}

@media screen and (min-width: 520px) {
	#knb-logo {
		top: 70vw;
		width: 100px;
		height: 100px;
	}
}

@media screen and (min-width: 768px) {
	#knb-logo {
		position: fixed;
		top: 20px;
	}

	#knb-logo.with-sold-out {
		top: 70px;
	}
}

@media screen and (min-width: 960px) {
	#knb-logo {
		width: 110px;
		height: 110px;
	}
}

@media screen and (min-width: 1185px) {
	#knb-logo {
		width: 120px;
		height: 120px;
	}
}

@media screen and (min-width: 1600px) {
	#knb-logo {
		width: 130px;
		height: 130px;
		top: 30px;
		left: 30px;
	}
	#knb-logo.with-sold-out {
		top: 80px;
	}
}